@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  @include outer-container;
  background: #FAFAFA;
}

.header{
  height:100px;
  border:1px solid black;
  .logo{
    font-size: 3em;
    display: inline-block;
  }
    .links{
      float: right;
      height: 80px;
      display: inline-block;
    }
}
.insta{
  font-family: 'Yellowtail', cursive;
}
.react{
  font-family: 'Permanent Marker', cursive;
}

ul{
  padding-left: 0;
    li{
      display: block;
        .homePic{
          width: 250px;
          height: 250px;
          margin-bottom: 20px;
          border:1px solid black;
        }
    } 
}

.homePic:hover{
  box-shadow: 3px 3px 3px grey;
}

.homeContainer{
  @include outer-container
  .photoContainer{
    @include span-columns(3);
    @include omega(4n);

  }
}
