@import "bourbon";
@import "neat";
@import "font-awesome";



$cool: "Helvetica Nueue", sans-serif;
$shadow: 1px 1px 1px grey;
$followButton: #4090DB;


body {
  background: #FAFAFA;
  width: 100%;
}


//Header 

.header{
  background: #DCDCDC;
  height:100px;
  width: 100%;
  padding: 0 6em;
  border-bottom: 2px solid black;

  .logo{
    width: 100%;
    font-size: 3em;
    display: inline-block;
    transition: all 1s ease;
    -webkit-text-stroke: .5px black;
    text-align: center;
    vertical-align: middle;

  }
  .search{
    width: 100%;
    display: inline-block;
    text-align: center;
      input{
        border-radius: 20px;
        font-weight: 100;
        margin-left: 10px;
      }
  }
  .links{
    width: 100%;
    padding-top: .5em;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    .button-home, .uploadView-button{
      display: inline-block;
      padding: 5px 20px 0 0;
      font-family: $cool;
      font-weight: 100;
    }
    .button-home:hover, .uploadView-button:hover{
      -webkit-text-stroke: 1px black;
      color: white;
    }
  }
}
.insta{
  font-family: 'Yellowtail', cursive;
  color: #0B558A;
  text-shadow: $shadow;
}
.react{
  font-family: 'Permanent Marker', cursive;
  color: #0B558A;
  text-shadow: $shadow;
}
.logo:hover{
  cursor: pointer;
}

ul{
  padding-left: 0;
    li{
      display: block;
        .homePic{
          width: 250px;
          height: 250px;
          margin-bottom: 20px;
          border:1px solid grey;
        }
    } 
}


// dashboard

.dash{
  @include outer-container;
  padding: 2em;
  border-bottom: 1px solid grey;
    button{
      color: $followButton;
      background: white;
      padding: 11px;
      text-transform: uppercase;
      cursor: pointer;
      border-color: $followButton;
      border-radius: 3px;
      font-weight: 600;
      border-width: 1px;
    }
}


.profilePicContainer{
  width: 100%;
  text-align: center;
  .profilePic{
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 0 20%;
    border-radius: 200px;
    border: 1px solid grey;
    background-image: url("https://octodex.github.com/images/original.png");
    background-size: cover;
    display: inline-block;
  }
}

.dashContent{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    ul{
      li{
        display: inline-block;
      
      }
    }
}

#title{
  font-family: $cool;
  font-weight: 200;
  font-size: 2em;
  padding-right: 10px;
}


.hashtag{
  color: $followButton;
  transition: all .5s ease;
}
.hashtag:hover{
  color: black;
}

.followers li{
  font-weight: bold;
  padding-right: 1em;
}


//home page

.homePic:hover{
 border-bottom: 2px solid grey;
 border-right: 2px solid grey;
}


.homeContainer{
 // @include outer-container;
  .photoContainer{
    // @include span-columns(3);
    // @include omega(4n);
    padding: 1em;
      li{
        text-align: center;
      }
  }
}



// Details View

.detailsContainer{
  ul li{

    padding: 1em;
    display: block;
    text-align: center;
    font-family: $cool;
    font-weight: 100;
  }
  button{
    border-radius: 8px;
    background: white;
  }
}

.detail-img img{
  width: 500px;
  max-height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}

//Upload View

.uploadForm{
  display: block;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

    button, input{
      border-radius: 20px;
      background: white;
      font-weight: 100;
      border-width: 1px;
      margin-left: 2em;
    }

}

//footer

.footer ul{
  li{
    display: inline-block;
    padding: 1.2em;
    font-family: $cool;
    font-weight: 100;
  }
  a{
    text-decoration: none;
  }
}


/////////////////////////
//Breakpoints///////////
///////////////////////


@media only screen and (min-width : 650px) and (max-width : 980px) {

  .profilePicContainer{
    @include span-columns(4);
    float: left;
  }

  .dashContent{
    @include span-columns(8);
    float: right;
    padding-left: 100px;
  }


    .homeContainer{
   @include outer-container;
    .photoContainer{
      @include span-columns(5); 
      padding-left: 1em;  
        li{
          text-align: center;
        }
    }
  }

}


@media only screen and (min-width : 981px) and (max-width : 1500px) {

  .profilePicContainer{
    @include span-columns(4);
    float: left;
  }

  .dashContent{
    @include span-columns(8);
    float: right;
    padding-left: 100px;
  }

  .homeContainer{
   @include outer-container;
    .photoContainer{
      @include span-columns(3);
      @include omega(4n);
      padding: 1em;
        li{
          text-align: center;
        }
    }
  }

  .header{

    .logo{
      @include span-columns(4);
      display: inline-block;
      margin: 0;
      
    }
    .search{
      @include span-columns(4);
      padding-top: 30px;
      text-align: right;

    }
    .links{
      @include span-columns(4);
      display: inline-block;
      margin: 0;
      padding-top: 30px;
     text-align: right;
    }
  }
}

